@import "./variables";

@mixin item__shadow {
  box-shadow: 0px 0px map-get($size, "blur")
    map-get($palette, "shadow--primary");
}

@mixin button__shadow {
  box-shadow: 0px 0px map-get($size, "blur")
    lighten(map-get($palette, primary), 15%);
}

@mixin border__radius {
  border-radius: map-get($size, "border-radius");
}

@mixin border--primary {
  border: 1px solid map-get($palette, foreground--primary);
  &:hover {
    cursor: pointer;
    color: map-get($palette, primary);
    border: 1px solid map-get($palette, primary);
  }
}

@mixin text__link {
  &:hover {
    cursor: pointer;
    color: map-get($palette, primary);
  }
}
