@import "./variables";
@import "./mixins";

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list {
  &__container {
    background-color: map-get($palette, "foreground--secondary");
    @include border__radius;
    padding: map-get($size, "padding");
  }

  &__item {
    background-color: map-get($palette, "foreground--primary");
    @include border__radius;
    @include item__shadow;

    h4 {
      color: map-get($palette, font--primary);
    }

    p {
      color: map-get($palette, font--primary);
    }
  }
}
