@import "./variables";
@import "./mixins";

.app__container {
  text-align: center;
  justify-content: center;
  width: map-get($size, "container__width");
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header__container {
  color: map-get($palette, "font--header");
  margin-bottom: map-get($size, "margin") * 3;

  h1 {
    font-size: map-get($size, "header__title__font-size");
    margin: 0;
  }

  p {
    font-size: map-get($size, "header__caption__font-size");
    margin: 0;
  }
}

.list {
  &__container {
    background-color: map-get($palette, "foreground--secondary");
    @include border__radius;
    padding: map-get($size, "padding");
  }

  &__header {
    text-align: start;
    padding: map-get($size, "padding");
    padding-left: 0;
    padding-top: 0;

    h4 {
      color: map-get($palette, font--primary);
      font-size: map-get($size, "font") * 1.15;
      font-weight: map-get($size, "font__weight--regular");
      margin: 0;
    }
  }

  &__switch {
    text-align: right;
    margin: 0;

    h4 {
      color: map-get($palette, font--primary);
      font-size: map-get($size, "font");
      font-weight: map-get($size, "font__weight--regular");
      margin: 0;
      margin-bottom: map-get($size, "margin");
      @include text__link;
    }
  }

  &__link {
    text-align: center;
    padding: 0;
    h4 {
      color: map-get($palette, font--primary);
      font-size: map-get($size, "font") * 1.15;
      font-weight: map-get($size, "font__weight--regular");
      margin: 0;
      @include text__link;
    }
  }

  &__item {
    background-color: map-get($palette, "foreground--primary");
    display: flex;
    flex-direction: column;
    margin-bottom: map-get($size, "margin");
    @include border__radius;
    @include item__shadow;

    &__header {
      text-align: start;
      padding: map-get($size, "padding");

      h4 {
        color: map-get($palette, font--primary);
        font-size: map-get($size, "font") * 1.75;
        font-weight: map-get($size, "font__weight--regular");
        margin: 0;
      }

      h6 {
        color: map-get($palette, primary);
        font-size: map-get($size, "font") * 1.5;
        font-weight: map-get($size, "font__weight--bold");
        margin: 0;

        &::before {
          content: "$ ";
          font-size: map-get($size, "font") * 0.85;
        }
      }
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  &__item {
    width: map-get($size, "width") * 5;
    padding: map-get($size, "padding");

    p {
      color: map-get($palette, font--primary);
      margin: 0;
    }

    label {
      color: map-get($palette, font--secondary);
      font-size: map-get($size, "font") * 0.75;
      margin: 0;
    }
  }
}

.link {
  &__form {
    padding: map-get($size, "padding");

    p {
      color: map-get($palette, foreground--primary);
      font-size: map-get($size, "font") * 0.85;
      font-weight: map-get($size, "font__weight--regular");
      margin-bottom: 0;
    }
    h1 {
      color: map-get($palette, foreground--primary);
      font-size: map-get($size, "font") * 1.45;
      font-weight: map-get($size, "font__weight--bold");
      margin-top: 0;
      @include text__link;
    }
  }

  &__back {
    position: absolute;

    button {
      color: map-get($palette, foreground--primary);
      background-color: map-get($palette, background);
      font-size: map-get($size, "font") * 1.45;
      font-weight: map-get($size, "font__weight--bold");
      margin-top: map-get($size, "margin");
      padding: map-get($size, "padding") * 0.25;
      @include border--primary;
      @include border__radius;
      @include text__link;

      svg {
        display: block;
        height: map-get($size, button-height);
      }
    }
  }
}
