@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap");

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: map-get($palette, "background");
  font-family: map-get($font, "family");
  font-size: map-get($size, "font");
  font-weight: map-get($size, "font__weight--regular");
  color: map-get($palette, "font--primary") !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link {
  text-decoration: none;
}

a:visited,
a:hover,
a:active {
  color: inherit;
}
