@import "./variables";
@import "./mixins";

.table {
  &__container {
    background-color: map-get($palette, "foreground--secondary");
    padding: map-get($size, "padding");
    @include border__radius;

    table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0 map-get($size, "font") * 1.15;
    }
  }

  &__header {
    text-align: start;

    tr th {
      text-align: left;
      color: map-get($palette, font--primary);
      font-size: map-get($size, "font") * 0.85;
      font-weight: map-get($size, "font__weight--regular");
    }
  }

  &__body {
    text-align: start;

    tr td {
      text-align: left;
      color: map-get($palette, font--primary);
      font-size: map-get($size, "font") * 1.15;
      font-weight: map-get($size, "font__weight--regular");
    }

    tr td:nth-child(1) {
      color: map-get($palette, font--secondary);
    }

    tr td:nth-child(2) {
      font-weight: map-get($size, "font__weight--bold");
    }

    tr td:nth-child(3) {
      color: map-get($palette, primary);
      font-weight: map-get($size, "font__weight--bold");
    }

    tr:hover {
      background-color: lighten(map-get($palette, primary), 35%);
    }
  }
}
